<%- include('partials/header') %>

    <meta http-equiv="refresh" content="15">

    <div style="padding: 1rem">
        <div class="row">
            <div class="col-md-6">
                <h2 style="padding: 1rem; color: aliceblue;">Welcome to Ulcer Prevention System</h2>
            </div>
            <div class="col-md-6" style="display: flex; flex-direction: row-reverse;align-items: center;">
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-danger" id="logout">Logout</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>This is a portal which allows you to monitor patients status</li>
                            <li>You can also view the historical data of your patients status</li>
                            <li>Select the patient to view the current status and the historical status</li>
                        </ul>
                        <h4>Number of Currently Monitoring Patients: <%= count.mcount %>
                        </h4>
                        <h4 class="pt-4">Number of Patients at Risk: <%= count.rcount %> <select
                                    class="btn btn-danger white-text dropdown-toggle" name="id" id="id">
                                    <% for (let i in rpatient) { %>
                                        <option class="dropdown-item white-text font-semibold"
                                            value="<%= rpatient[i] %>">
                                            <%= rpatient[i] %>
                                        </option>
                                        <% } %>
                                </select>
                        </h4>

                        <h4 class="pt-4 pb-3">Select Patient to view current and past Status</h4>
                        <form action="/home" method="POST">
                            <select class="btn btn-secondary white-text dropdown-toggle" name="id" id="id">
                                <% for (const i in data) { %>
                                    <option class="dropdown-item white-text font-semibold" value="<%= data[i].pid %>">
                                        <%= data[i].name %>
                                    </option>
                                    <% } %>
                            </select>
                            <button type="submit" class="btn btn-primary" id="view">View</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/5063406.jpg" alt="Representational image" style="height:22rem; width:37rem" />
            </div>
            <div class="col-sm-6 pt-4" style="display: flex; justify-content: center;">
                <form action="/patient" method="GET">
                    <button type="submit" class="btn btn-primary" id="view">Add New Patient</button>
                </form>
            </div>
            <div class="col-sm-6 pt-4" style="display: flex; justify-content: center;">
                <form action="/patientInfo" method="GET">
                    <button type="submit" class="btn btn-primary" id="view">View Patient Information</button>
                </form>
            </div>
        </div>
    </div>




    <%- include('partials/footer') %>